<div class="container text-center">
  <br />
  <h1>Javascript, les Bases</h1>
  <br />
  <hr />
  <h5>Abdelaziz DAAIF</h5>
  <hr />
  <h6>Enseignant Chercheur</h6>
  <hr />
  <h6>ENSET Mohammedia</h6>
  <hr />
  <h6>Université Hassan II, Casablanca</h6>
  <hr />
  <a
    href="https://github.com/daaif/js-slides"
    class="btn btn-outline-secondary"
    target="_blank"
  >
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.daaif.net" target="_blank" class="btn btn-primary"
    >Site Web</a
  >
</div>
