<div class="container">
  <h1 class="text-center">Les bases de Javascript</h1>
  <br />
  <ul class="fa-ul big2 ">
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Les variables <span class="text-muted">(var, let, const)</span>
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Les types primitifs
      <ul class="small fa-ul">
        <li>Number, Boolean, String, Undefined, Null</li>
      </ul>
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Les objets natifs
      <ul class="small fa-ul">
        <li>Array, Math, Date, String!!!, ...</li>
      </ul>
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Les fonctions
    </li>
  </ul>
</div>
