<div class="container-fluid">
  <h1 class="text-center">Les variables</h1>
  <br />
  <ul class="fa-ul big2 ">
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      ES5 <i class="fas fa-angle-double-right text-primary"></i> var
      <ul class="fa-ul small">
        <li>
          <i class="fas fa-thumbs-down text-danger"></i>
          La portée des variables est la fonction.
        </li>
        <li>
          <i class="fas fa-thumbs-down text-danger"></i>
          On peut déclarer accidentellement une variable qui existe déjà.
        </li>
      </ul>
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      ES6 <i class="fas fa-angle-double-right text-primary"></i> let et const
      <ul class="fa-ul small">
        <li>
          <i class="fas fa-thumbs-up text-success"></i>
          La portée des variables est le bloc {}.
        </li>
        <li>
          <i class="fas fa-thumbs-up text-success"></i>
          On ne peut pas redéclarer une variable qui existe déjà.
        </li>
      </ul>
    </li>
  </ul>
</div>
