<div class="container">
  <h1 class="text-center">Les types primitifs</h1>
  <p>
    <i class="fas fa-angle-right text-primary"></i>
    Pour tous ces types, l'affectation se fait par valeur. <br />
    <i class="fas fa-angle-right text-primary"></i>
    JS étant un langage dynamique, on peut à tout moment déterminer le type
    d'une variable en utilisant l'opérateur
    <code>typeof</code>
    <textarea class="myCode">
  var x = true;
  console.log( typeof x ); /*  -> "boolean" */</textarea
    >
  </p>
  <ul class="fa-ul big2 ">
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      number
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      boolean
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      string
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      undefined
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      null
    </li>
  </ul>
</div>
