<div class="container-fluid">
  <h1 class="text-center">Les objets natifs</h1>
  <ul class="fa-ul big2 ">
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Array
      <div class="small">
        <textarea class="myCode">
  const monTableau1 = new Array(8, true, 'abc');
  const monTableau2 = [8, true, 'abc'];</textarea
        >
      </div>
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Math
      <p class="small">
        Bibliothèque de fonctions et constantes mathématiques.
      </p>
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      Date
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      String
    </li>
  </ul>
</div>
