<div class="container-fluid">
  <h1 class="text-center">Les fonctions</h1>
  <br />
  <ul class="fa-ul big2 ">
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      ES5
      <i class="fas fa-angle-double-right text-primary"></i>
      Function
      <textarea class="myCode">
  function add(x, y) {
    return x + y;
  }</textarea
      >
    </li>
    <li class="blink-item">
      <i class="fas fa-arrow-right text-success"></i>
      ES6
      <i class="fas fa-angle-double-right text-primary"></i>
      Arrow functions
      <textarea class="myCode">const add = (x, y) => x + y;</textarea>
    </li>
  </ul>
</div>
