<div class="container-fluid">
  <h1 class="text-center">Objets et Classes</h1>

  <ul class="fa-ul big1 p-0">
    <li class="blink-item small">
      <i class="fas fa-angle-right text-primary"></i>
      En POO, un objet est une instance d'une classe. En JS, on peut créer un
      objet
      <span class="text-success">1)</span> litéralement,
      <span class="text-success">2)</span> en se basant sur une fonction ou
      <span class="text-success">3)</span> se basant sur une classe.
    </li>
    <li class="blink-item small">
      <i class="fas fa-arrow-right text-success"></i>
      Objet litéral
      <textarea class="myCode">
  const person = {
    name: "Fifi", 
    sayHello: function()  {
      console.log("Hello " + this.name)
    }
  }</textarea
      >
      <span class="text-muted"
        >Ici, l'objet est créé dynamiquement, et on peut aussi lui ajouter
        d'autres attributs et méthodes.</span
      >
    </li>
  </ul>
</div>
