<div class="container-fluid">
  <h1 class="text-center">Objets et Classes</h1>

  <ul class="fa-ul big1 p-0">
    <li class="blink-item small">
      <i class="fas fa-arrow-right text-success"></i>
      En se basant sur une fonction
      <textarea class="myCode">
  function Person(name){
    this.name = name, 
  }
  Person.prototype.sayHello = function()  {
    console.log("Hello " + this.name)
  }
  /* instanciation */
  const p = new Person('Fifi');
  /* Appel de la méthode */
  p.sayHello();
</textarea
      >
    </li>
  </ul>
</div>
